<!--

TODOS:

1. pass a variable for the active page to get active classes?

-->
<nav id="menu" class="menu" role="navigation">
	<ul>
		<li><a href=""><span class="icon-facebook"></span></a></li>
		<li><a href=""><span class="icon-twitter"></span></a></li>
		<li><a href=""><span class="icon-instagramm"></span></a></li>
		<li><a href=""><span class="icon-youtube"></span></a></li>
		<li><a href="/">Home</a></li>
		<li><a href="/services">Services</a></li>
		<li><a href="/work">Work</a></li>
		<!-- <li><a href="/team">Team</a></li> -->
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<!-- <li><a href="about.html">Blog</a></li>
		<li><a href="about.html">Contact</a></li> -->
	</ul>
</nav>	