<!--

TODOS:

1. pass a variable for the active page to get active classes?

-->
<nav id="menu" class="menu" role="navigation">
	<ul>
		<li><a href=""><span class="icon-facebook"></span></a></li>
		<li><a href=""><span class="icon-twitter"></span></a></li>
		<li><a href=""><span class="icon-instagramm"></span></a></li>
		<li><a href=""><span class="icon-youtube"></span></a></li>
		<li><a href="index.html">Home</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="work.html">Work</a></li>
		<li><a href="team.html">Team</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="about.html">Blog</a></li>
		<li><a href="about.html">Contact</a></li>
	</ul>
</nav>	