{% include html.inc.html %}
<body>
  <div class="viewport">
    {% include nav.inc.html %}
    <a href="#" class="menu_toggle"></a>
		<div class="main">
      <section class='hero'>
        <div class='panel' style="background-image: url({{ panelimg }})">{{ panelimg }}
          <div class='container'>
            <div class='logo'>
              <img src='common/assets/images/VW_logo_white.png' alt="VentureWeb Design Ltd. Logo">
            </div>
          </div>
        </div>
        <div class='panel'>
          <div class='container'>
            <div>
              <h1>{{ title }}</h1>
              <h2>{{ page.subtitle }}</h2>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class='wrapper'>
          <div class='row'>
            {{ content }}
          </div>
        </div>
      </section>
		</div><!-- end main -->
  </div><!-- end viewport -->
  
  {% include footer.inc.html %}
  
  {% include scripts.inc.html %}
</body>
</html>
