{% include header.inc.html %}
      <section class="hero full" style="background-image: url({{ page.panelimg }})">
          <div class="container">
            <div class="logo">
              <img src="/common/assets/images/VW_logo_white.png" alt="VentureWeb Design Ltd. Logo">
              <h3>{{ page.title }}</h3>
            </div>
          </div>
      </section>
      <section class="hero">
        <div class="container">
          <div>
            <h1>{{ page.subtitle }}</h1>
          </div>
        </div>
      </section>
      <section class="strip">
    <div class="panel caption">
      <div class="container">
        <div>
          <h2>Outdoor Lifestyle Brands</h2>
        </div>
      </div>
    </div>
    <a class="panel" href="http://www.julianabicycles.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/juliana_logo.png">
        </div>
      </div>
    </a>
    <a class="panel" href="http://www.santacruzbicycles.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/santacruz_logo.png">
        </div>
      </div>
    </a>
    <a class="panel" href="http://www.thetruecollection.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/truecollection_logo.png">
        </div>
      </div>
    </a>
    <a class="panel" href="http://www.genuineguidegear.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/g3_logo.png">
        </div>
      </div>
    </a>
    
    <div class="panel caption">
      <div class="container">
        <div>
          <h2>Destination Travel</h2>
        </div>
      </div>
    </div>
    <a class="panel" href="http://www.tourismtofino.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/tofino_logo.png">
        </div>
      </div>
    </a>
    <a class="panel" href="http://www.goldenisles.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/goldenisles_logo.png">
        </div>
      </div>
    </a>
    <a class="panel" href="http://www.seatoskygondola.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/s2s_logo.png">
        </div>
      </div>
    </a>
    <a class="panel" href="http://www.skimarmot.com">
      <div class="container">
        <div>
          <img src="/common/assets/images/marmot_logo.png">
        </div>
      </div>
    </a>
    
      </section>
      <section>
        <div class="features">
          <a class="panel" href="client.html" style="background-image: url(http://distilleryimage2.s3.amazonaws.com/52a3639441a011e39dc022000a9e517c_8.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/tofino_01.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(http://distilleryimage3.s3.amazonaws.com/411a3e5e2cb011e39dc522000ab5aa7c_8.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/g3_01.png)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/s2s_01.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(http://distilleryimage3.s3.amazonaws.com/8f2efdac30f011e3b8d122000aeb43f3_8.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/santacruz_01.jpg)"></a>
        </div>
      </section>
      <!--<section class="footer-nav">
        <div class="wrapper">
        <div class="row alt">
        <div class="column">
        <h2>Expertise</h2>
        <ul class="options">
          <li>
            <a href="">Digital Strategy</a>
          </li>
          <li>
            <a href="">Branding</a>
          </li>
          <li>
            <a href="">User Experience</a>
          </li>
          <li>
            <a href="">Design</a>
          </li>
          <li>
            <a href="">Development</a>
          </li>
          <li>
            <a href="">SEO</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2>Technology</h2>
        <ul class="options">
          <li>
            <a href="">Drupal &amp; WordPress</a>
          </li>
          <li>
            <a href="">Mobile Apps</a>
          </li>
          <li>
            <a href="">Social Platforms</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2>
          Philosophy
        </h2>
        <p>Our <strong>digital first</strong> approach is simple. We believe that the traditional agency model has changed. The online experience was an add-on to the overall marketing plan.</p> <p>Nowadays the digital strategy is core to any marketing plan especially for travel and adventure brands. New and existing visitors dream, plan and share their experiences online.</p>
      </div>
        </div>
        </div>
      </section>-->
      <section class="footer-nav">
        <div class="wrapper">
          <div class="row">
          <div class="column">
          <h2>Philosophy</h2>
          <p>Our "digital first" approach is simple. We believe that the traditional agency model has changed. The online experience was an add-on to the overall marketing plan. Nowadays the digital strategy is core to any marketing plan especially for travel and adventure brands. New and existing visitors dream, plan and share their experiences online.</p>
          </div>
          <div class="column">
          <h2>Location</h2>
          <p>The fact that our Studio is located in Squamish, BC - wedged between Vancouver's new media hub and Whistler's world-famous stomping grounds?is no coincidence. Our passion for the outdoor lifestyle runs deep, and the appreciation we have for living here motivates us to drill to the core of our clients' business with the same enthusiasm we apply to our pursuits beyond the office. Come visit us in Squamish.</p>
          </div>
          </div>          
        </div>
      </section>
  
  {% include footer.inc.html %}
  
  {% include scripts.inc.html %}
</body>
</html>
