{% include header.inc.html %}
<body>
  <div class="viewport">
    {% include nav.inc.html %}
    <a href="#" class="menu_toggle"></a>
		<div class="main">
		
      <section class="hero full" style="background-image: url({{ page.panelimg }})">
        
          <div class="container">
            <div class="logo">
              <img src="common/assets/images/VW_logo_white.png" alt="VentureWeb Design Ltd. Logo">
              <h3>{{ page.title }}</h3>
            </div>
          </div>
      </section>
      <section class="hero">
        <div class="container">
          <div>
            <h1>{{ page.subtitle }}</h1>
          </div>
        </div>
      </section>
		</div><!-- end main -->
  </div><!-- end viewport -->
  
  {% include footer.inc.html %}
  
  {% include scripts.inc.html %}
</body>
</html>
