{% include header.inc.html %}
<body>
  <div class="viewport">
    {% include nav.inc.html %}
    <a href="#" class="menu_toggle"></a>
		<div class="main">
		
      <section class="hero full" style="background-image: url({{ page.panelimg }})">
        
          <div class="container">
            <div class="logo">
              <img src="common/assets/images/VW_logo_white.png" alt="VentureWeb Design Ltd. Logo">
              <h3>{{ page.title }}</h3>
            </div>
          </div>
      </section>
      <section class="hero">
        <div class="container">
          <div>
            <h1>{{ page.subtitle }}</h1>
          </div>
        </div>
      </section>
      <section class="strip">
        <div class="features">
          <a class="panel" href="client.html" style="background-image: url(http://distilleryimage2.s3.amazonaws.com/52a3639441a011e39dc022000a9e517c_8.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/tofino_01.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(http://distilleryimage3.s3.amazonaws.com/411a3e5e2cb011e39dc522000ab5aa7c_8.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/g3_01.png)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/s2s_01.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(http://distilleryimage3.s3.amazonaws.com/8f2efdac30f011e3b8d122000aeb43f3_8.jpg)"></a>
          <a class="panel" href="client.html" style="background-image: url(/common/assets/images/santacruz_01.jpg)"></a>
        </div>
      </section>
      <section class="footer-nav">
        <div class="wrapper">
        <div class="row alt">
        <div class="column">
        <h2>Expertise</h2>
        <ul class="options">
          <li>
            <a href="">Digital Strategy</a>
          </li>
          <li>
            <a href="">Branding</a>
          </li>
          <li>
            <a href="">User Experience</a>
          </li>
          <li>
            <a href="">Design</a>
          </li>
          <li>
            <a href="">Development</a>
          </li>
          <li>
            <a href="">SEO</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2>Technology</h2>
        <ul class="options">
          <li>
            <a href="">Drupal &amp; WordPress</a>
          </li>
          <li>
            <a href="">Mobile Apps</a>
          </li>
          <li>
            <a href="">Social Platforms</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2>
          <a href="">Venture Web launches new online portal for Guerilla World</a>
        </h2>
        <h4>October 31 2013</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices lorem at imperdiet pellentesque. Proin ultrices volutpat enim eget imperdiet. Maecenas fringilla metus dui, non adipiscing libero fringilla at. Ut aliquet congue libero, in tempor leo interdum non.</p>
      </div>
        </div>
        </div>
      </section>
		</div><!-- end main -->
  </div><!-- end viewport -->
  
  {% include footer.inc.html %}
  
  {% include scripts.inc.html %}
</body>
</html>
