{% include header.inc.html %}
      <section class='hero'>
        <div class='panel' style="background-image: url({{ page.panelimg }})">
          <div class='container'>
            <div class='logo'>
              <img src='/common/assets/images/VW_logo_white.png' alt="VentureWeb Design Ltd. Logo">
            </div>
          </div>
        </div>
        <div class='panel'>
          <div class='container'>
            <div>
              <h1>{{ page.title }}</h1>
              <h2>{{ page.subtitle }}</h2>
            </div>
          </div>
        </div>
      </section>
      {{ content }}
{% include footer.inc.html %}
{% include scripts.inc.html %}