{% include header.inc.html %}

<section class='hero'>
  <div class='panel' style="background-image: url({{ page.panelimg }})">
    <div class='container'>
      <div class='logo'>
        <img src='/common/assets/images/VW_logo_white.png' alt="VentureWeb Design Ltd. Logo">
      </div>
    </div>
  </div>
  <div class='panel'>
    <div class='container'>
      <div>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="team">      
{% for project in site.data.projects %}
<div class="strip">
  <a class="panel team-image" href="{{ project.page }}" style="background-image: url(/common/assets/images/{{ project.image }});">&nbsp;</a>
  <div class="panel">
    <div class="container">
      <div>
        <h3>{{ project.client }}</h3>
        <h4>{{ project.project_title }}</h4>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</section>

{% include footer.inc.html %}
{% include scripts.inc.html %}